
@{
    ViewData["Title"] = "Details";
}
<h1>Employee Details</h1>


<h3>Name</h3>
<p>@Model.Name</p>

<h3>Age</h3>
<p>@Model.Age</p>
<h3>Salary</h3>
<p>@Model.Salary</p>
<h3>Email</h3>
<p>@Model.Email</p>
<h3>Img</h3>
<p><img src="/Images/@Model.Img" /></p>


<h5><a href="/Employee/index">Back to list</a></h5>

