
@{
    ViewData["Title"] = "Index";
    int  index= 1 ; 
}
<h1>the data of employee</h1>
<hr />
<a href="/Employee/NewForm">Add New Employee</a>
<hr />
<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Image</th>
        <th>Controls</th>
    </tr>
    @foreach (Employee emp in Model)
    {
        <tr>
            <td>@(index++)</td>
            <td>@emp.Name</td>
            <td>@emp.Email</td>
            <td><img src="/images/@emp.Img" alt="student image" /></td>
            <td>
                <a href="/Employee/Details/@emp.Id">Details</a> |
            </td>
        </tr>
    }
</table>

